---
layout: single
title: "Workshops / Seminars / Webinars / Trainings"
permalink: /workshops/
---

<!-- Workshops -->

  <summary><h2>Workshops</h2></summary>
  <ul class="event-lines">
    {% for item in site.data.events.workshops %}
      <li data-year="{{ item.date | slice: 0, 4 }}" data-type="Workshop">
        📅 {{ item.date }} — <em>{{ item.title }}</em> ({{ item.role }}, {{ item.organizer }})
      </li>
    {% endfor %}
  </ul>


<!-- Webinars -->

  <summary><h2>Webinars</h2></summary>
  <ul class="event-lines">
    {% for item in site.data.events.webinars %}
      <li data-year="{{ item.date | slice: 0, 4 }}" data-type="Webinar">
        📅 {{ item.date }} — <em>{{ item.title }}</em> ({{ item.role }}, {{ item.organizer }})
      </li>
    {% endfor %}
  </ul>


<!-- Seminars -->

  <summary><h2>Seminars</h2></summary>
  <ul class="event-lines">
    {% for item in site.data.events.seminars %}
      <li data-year="{{ item.date | slice: 0, 4 }}" data-type="Seminar">
        📅 {{ item.date }} — <em>{{ item.title }}</em> ({{ item.role }}, {{ item.organizer }})
      </li>
    {% endfor %}
  </ul>


<!-- Trainings -->

  <summary><h2>Trainings</h2></summary>
  <ul class="event-lines">
    {% for item in site.data.events.trainings %}
      <li data-year="{{ item.date | slice: 0, 4 }}" data-type="Training">
        📅 {{ item.date }} — <em>{{ item.title }}</em> ({{ item.role }}, {{ item.organizer }})
      </li>
    {% endfor %}
  </ul>

